body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.encabezado{
    background-color: rgb(240, 75, 75);
    height: 10vh;
}

.encabezado span{
    text-align: left;
}

.menu li{
    list-style: none;
    display: inline-block;
    margin: 0;
}

.logo, .menu{
    display: inline-block;
    width: 49%;
}

.menu{
    text-align: right;
}

.div-naranja {
    width: 30%;
    height: 80vh;
    background-color: cadetblue;
    margin-top: 0;
    display: block;
    position: absolute;
}

.cuadro{
    width: 29vw;
    height: 18.75vh;
    background-color: blue;
    display: block;
    margin: 1vh 5px 0px 5px;
    position: relative; 
    border-radius: 20px;
    
}

.div-gris{
    display: block;
    position:absolute;
    width: 70%;
    height: 80vh;
    margin-left: 30%;
    background-color: blueviolet;
    padding-top: 10px;
}

.div-abajo{
    width: 100%;
    height: 10vh;
    background-color: chocolate;
    position: absolute;
    margin-top: 80vh;
}

.texto-cuadro{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}